<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page Not Found</title>
    <style>
      body {
        background-color: #ffe5ec;
      }
      h1 {
        text-align: center;
        margin-top: 15%;
        background-color: #dde5b6;
        font-family: "DM Serif Display", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.5em;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        border: solid 20px #adc178;
      }
    </style>
  </head>
  <body>
    <h1>Sorry! The page '{{path}}' does not exist</h1>
  </body>
</html>
